<html>
    <head>
        <title>Flask Tutorial</title>
        <link href="/static/css/plants.css" rel="stylesheet"> 
        <script src="/static/scripts/Plants.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </head>
    <body>
        <h2 id="plant" class="big">Plants</h2>
        <p style="color: #730050">mini rose, spider plants, mini orchid, aloe vera</p>
        <p style="color: teal">So far all are alive!</p>
        <button onclick="doButtonClick()">Click me</button>
    </body>
   
</html>



